uvicorn
fastapi
pymongo
certifi
python-dotenv
pandas
python-multipart
pyodbc>=4.0.30
sqlalchemy
Office365-REST-Python-Client
pydantic
PyYAML==6.0
sniffio==1.3.0
starlette==0.27.0
typing_extensions==4.5.0
uvloop==0.17.0
watchfiles==0.18.1
websockets==10.4
gunicorn==20.1.0
SQLAlchemy~=2.0.5.post1
xgboost
lightGBM==3.3.5
optuna==3.0.3
shap
fasttreeshap
matplotlib==3.4.3
ipynb
plotly
panel
catboost
neptune-client
joblib
lasio
neptune-lightgbm
neptune-notebooks
neptune-sklearn
optuna